name: womigo
description: Women Safety & Smart Navigation MVP
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_map: ^8.0.0
  latlong2: ^0.9.1
  google_fonts: ^6.2.1

flutter:
  uses-material-design: true
